aiofiles
annotated-types
anyio
certifi
cffi
contourpy
cycler
eval_type_backport
fonttools
h11
httpcore
httpx
hume
hume
idna
kiwisolver
matplotlib
numpy
opencv-python
packaging
pillow
pycparser
pydantic
pydantic_core
pydub
pyparsing
python-dateutil
python-dotenv
six
sniffio
supabase
sounddevice
typing_extensions
flask
transformers
flask_cors
gunicorn
torch
supabase
nltk
openai
websockets==9.1
colorama
pdfplumber>=0.7.0
spacy>=3.5.0
sentence-transformers>=2.2.0
scikit-learn>=1.0.2
